{% load static %}

<html>
    <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COVARATE</title>

    
    <!-- Flag sprites service provided by Martijn Lafeber, https://github.com/lafeber/world-flags-sprite/blob/master/LICENSE -->
    <link rel="stylesheet" type="text/css" href="//github.com/downloads/lafeber/world-flags-sprite/flags32.css" />

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://code.highcharts.com/maps/highmaps.js"></script>
    <script src="https://code.highcharts.com/maps/modules/data.js"></script>
    <script src="https://code.highcharts.com/maps/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/maps/modules/offline-exporting.js"></script>
    <script src="https://code.highcharts.com/mapdata/custom/world.js"></script>

    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">


    
        <style>
            html{
                scroll-behavior:smooth;
            }
            *{
                margin:0;
                padding:0;
                /*box-sizing:border-box;*/
                font-family: 'Noto Sans JP', sans-serif;
            }
            
            .fixed-header, .fixed-footer{
                width: 100%;
                position: fixed;        
                background: #333;
                padding: 10px 0;
                color: #fff;
            }
            .fixed-header{
                top: 0;
            }
            .fixed-footer{
                bottom: 0;
            }
            .container{
                width: 100%;
                margin: 0 auto; /* Center the DIV horizontally */
            }
        </style>
    </head>
<body>
    <nav class="navbar navbar-expand-md" style="background-color:rgb(6, 116, 116);color:white;">
        <a class="navbar-brand padding-right:5px;" href="{% url 'home' %}"><h1 style="font-size: 3rem;color:white;font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif">COVARATE</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'home' %}"><h5 style="color:rgb(255, 255, 172);">Home</h5><span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'index' %}"><h5 style="color:rgb(255, 255, 172);">Dashboard</h5></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'predictor' %}"><h5 style="color:rgb(255, 255, 172);">Predictor</h5></a>
            </li>
          </ul>
        </div>
      </nav>
    
    <!-- <div class="fixed-header">
        <div class>
            <nav>
                <a href="/"><span style="font-size: 40px;">COVID-19 DashBoard</span></a>
                
            </nav>
        </div>
    </div> -->
    <div class="container-fluid">
    <div class="row">
        <div class="col-md-4" style="float: left;  max-height:1450px;max-width:400px;overflow: scroll; overflow-x:hidden;padding-top:5px;">
            <div style="background-color: rgb(41, 41, 40);">
                
                <span style="color: rgb(255, 255, 255); text-align: center;"><h3>Total Infected: {{totalCount}}</h3></span>
                <span style="color: rgb(255, 255, 255); text-align: center;"><h3>Total Death: {{totaldeath}}</h3></span>
                <span style="color: rgb(255, 255, 255); text-align: center;"><h3>Total Recover: {{totalrecover}}</h3></span>

            </div>
            <div class="col-md-12">
                <form method="post" enctype="multipart/form-data" action="selectCountry">
                {% csrf_token %}
                <div class="col-md-4" style="float: left;">
                    {% for con in countryNames %}
                    <table style="border-width: 2px; border: #333;">
                    <tr>
                        <input type="submit" value={{con}} name="countryName" style="width:100px;background-color:rgb(164, 230, 230);margin-top:2px;">
                    </tr>
                </table>
                    {% endfor %}
                </div>
                <div style="float: left;"> 
                    <canvas id="myChart" style="height: 5450px; width: 210px;"></canvas>
                </div>
                </form>
                

            </div>
        </div>
    <div class="col-md-8">
        <br>
        <br>
        {% if showMap == 'True' %}
        <div id="mapchart" style="height:650;width:800;">
        {% elif showMap == 'False' %}
        <h2 style="text-align:center;">Analysis on {{countryName}}</h2><br>
        <canvas id="lineChart" style="height: 400px;"></canvas>
        <canvas id="barChart1" style="height:400px;width:800px;"></canvas><br>
        <canvas id="barChart2" style="height:400px;width:800px;"></canvas>
        {% endif %}
    </div>
    </div>
    <!-- <div class="col-md-2"></div> -->
    
    
</div>
</div>

    
</body>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var chartOptions = {
        legend: {
            display: false
                },
        scales: {
            xAxes: [{
                barPercentage:1
                }],
            yAxes: [
                    // {barPercentage: 1},
                    // {gridLines:{drawBorder: false}},
                    {ticks: {display:false}},
                    // {ticks: {mirror: true}},
                    {display: false},
                    
                    ],
        elements: {
            rectangle: {
            borderSkipped: 'left',
            }
        }
        }
    };
var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'horizontalBar',

    // The data for our dataset
    data: {
        labels: {{countryNames|safe}},
        datasets: [{
            label: 'Count',
            backgroundColor: 'rgb(204, 41, 0)',
            borderColor: 'rgb(204, 41, 0)',
            data: {{barplotvals|safe}}
        }]
    },

    // Configuration options go here
    options: chartOptions
});
</script>

<script>
    var data2={{dataForMap|safe}}
    Highcharts.getJSON('https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/world-population-density.json', function (data) {

        // Prevent logarithmic errors in color calulcation
        data.forEach(function (p) {
            p.value = (p.value < 1 ? 1 : p.value);
        });
    
        // Initiate the chart
        Highcharts.mapChart('mapchart', {
    
            chart: {
                map: 'custom/world'
            },
    
            title: {
                text: 'COVID-19 Infected Graph In World Map'
            },
    
            legend: {
                title: {
                    text: 'Infected Grap',
                    style: {
                        color: ( // theme
                            Highcharts.defaultOptions &&
                            Highcharts.defaultOptions.legend &&
                            Highcharts.defaultOptions.legend.title &&
                            Highcharts.defaultOptions.legend.title.style &&
                            Highcharts.defaultOptions.legend.title.style.color
                        ) || 'black'
                    }
                }
            },
    
            mapNavigation: {
                enabled: true,
                buttonOptions: {
                    verticalAlign: 'bottom'
                }
            },
    
            tooltip: {
                backgroundColor: 'none',
                borderWidth: 2,
                borderColor:'#cc2900',
                shadow: false,
                useHTML: true,
                padding: 0,
                pointFormat: '<span class="f32"><span class="flag {point.properties.hc-key}">' +
                    '</span></span> {point.name}<br>' +
                    '<span style="font-size:30px">{point.value}</span>',
                positioner: function () {
                    return { x: 50, y: 350 };
                }
            },
    
            colorAxis: {
                min: 1,
                max: 1000,
                type: 'logarithmic'
            },
    
            series: [{
                data: data2,
                joinBy: ['iso-a3', 'code3'],
                name: 'Infected Population',
                states: {
                    hover: {
                        color: '#cc2900'
                    }
                }
            }]
        });
    });
    
</script>



<script>
    var data2={{datasetsForLine|safe}};
    var chartOptions2 = {
            legend: {
                display: true
                    },
                    scales: {
						yAxes: [{
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
							position: 'left',
							id: 'y-axis-1',
						}, {
							type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
							display: true,
							position: 'right',
							id: 'y-axis-2',

							// grid line settings
							gridLines: {
								drawOnChartArea: false, // only want the grid lines for one axis to show up
							},
						}],
					},
        };
    var ctx2 = document.getElementById('lineChart').getContext('2d');  
	var myLineChart = new Chart(ctx2, {
        type: 'line',
        data: {labels:{{axisvalues|safe}},datasets:data2,},
        options: chartOptions2
        });
</script>

<script>
    var stateconfirmed={{datasetforbar|safe}};
    var statedeath={{statedeaths|safe}};
    var statename={{statelabel|safe}};
    var dCanvas = document.getElementById('barChart1');
    var deCanvas = document.getElementById('barChart2');
    Chart.defaults.global.defaultFontFamily = "Lato";
    Chart.defaults.global.defaultFontSize = 12;

    var Confirmed= {
        label: 'Confirmed Cases',
        data:stateconfirmed,
        backgroundColor: '#03a9fc',
        borderWidth: 0,
        yAxisID: "y-axis-density"
    };

    var Death= {
        label: 'Death Cases',
        data:statedeath,
        backgroundColor: '#fc5203',
        borderWidth: 0,
        yAxisID: "y-axis-density"
    };
    var cData = {
         labels:statename,
         datasets: [Confirmed]
    };
    var dData = {
         labels:statename,
         datasets: [Death]
    };
    var chartOptions = {
    scales: {
        xAxes: [{
            barPercentage: 1,
            categoryPercentage: 0.6
         }],
        yAxes: [{
            id: "y-axis-density"
         }]
     }
    };

    var barChart1 = new Chart(dCanvas, {
      type: 'bar',
      data: cData,
      options: chartOptions
    });
    var barChart2 = new Chart(deCanvas, {
      type: 'bar',
      data: dData,
      options: chartOptions
});
</script>

</html>